*.jpg
*.png
*.pth
*.pyc
work_dirs/
data/
datasets/
!*/configs/_base_/datasets
**/mmdet.egg-info/
**/mmsegmentation.egg-info/
__pycache__/
.idea/
.vscode/
.DS_Store
.circleci/
.dev_scripts/
.github/
.owners.yml
.pre-commit-config.yaml
.readthedocs.yml
2025-11-17-02_mmseg0/
2025-11-17-02/configs/other